# If using Google Cloud, these values should be set
export GOOGLE_APPLICATION_CREDENTIALS="/root/.google/credentials.json"
export GOOGLE_PROJECT_ID="YOUR_PROJECT_ID"
# create this value by running base64 -i data/root/.google/google-credentials-dev.json
export GOOGLE_CREDENTIALS="BASE64_ENCODED_KEY"

# If using Azure OpenAI, these values should be set
export AZURE_OPENAI_API_KEY="your-api-key"
export AZURE_OPENAI_ENDPOINT="https://your-endpoint.openai.azure.com/"

# If using OpenSearch tool, these values should be set
export OPENSEARCH_URL="http://bilicore-dev.us-east-1.opensearch.localhost.localstack.cloud:4566"

# This is the location of the default prompts file for the Streamlit app to use
export DEFAULT_PROMPT_PATH="./bili/prompts/default_prompts.json"

# If using OpenWeatherMap tool, these values should be set
# https://home.openweathermap.org/
export OPENWEATHERMAP_API_KEY="KEY"

# If using SerpApi tool, these values should be set
# https://serpapi.com/dashboard
export SERP_API_KEY="KEY"

# If using Postgres checkpointer for state management, these values should be set
export POSTGRES_CONNECTION_STRING=postgresql://bilicore:bilicore@bili-core-postgis:5432/

# If using MongoDB checkpointer for state management, these values should be set
export MONGO_CONNECTION_STRING="mongodb://bilicore:bilicore@bili-core-mongodb:27017/"

# Depending on your authentication provider, you may need to set a JWT secret:
export JWT_SECRET_KEY="super-secret-key"
